<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>
    <title> Your Intranet > {% block "title" %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/autoSuggest.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/reset.css" />
    <!--[if IE]>
            <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/ie.css" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/base_all.css"></style>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/base_print.css"></style>
    <link type="text/css" href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
    <link type="text/css" href="{{STATIC_URL}}css/colorbox.css" rel="stylesheet" />
    <link type="text/css" href="{{STATIC_URL}}css/transit_subsidy.css" rel="stylesheet" />
    <!-- Position the inField labels so it works with IE -->
    <!--[if gte IE 7]>
    <style>
    form span label {
        top: .5em;
    }
    
    .button {
        padding-left: 1em;
        padding-right: 1em;
        border: 1px
    }
    
    </style>
    
    <![endif]--> 
    


    {% block "page_css" %}
    {% endblock %}
    {% block "inner_page_css" %}
    {% endblock %}

</head>
<body>
 

 <!-- Navigation for demo Transit Subsidy app -->
<div style="float: right;padding-right:2em">
    <span class="demo_title" title="Change this in the base.html template">Demo navigation:</span> &nbsp;&nbsp;&nbsp;
    <a href="/admin">Django Admin</a>  &nbsp;<span  class="">|</span>&nbsp;
    <a href="/logout">Logout</a>
</div>
<!-- End navigation -->


<div id="contain">   
	<div style="clear:both"></div>
    <div id="body">
        <div id="main">
        {% block "header" %}
        {% endblock %}
        {% block "content" %}
        {% endblock %}
        </div>
    </div>    
</div><!--end.contain-->  
        
	{% block "inner_page_js" %}
    {% endblock %}

    {% block "page_js" %}
    {% endblock %}
</body>
</html>
