<h1><Transit Subsidy Program Applicant Agreement Statement</h1>

<h3>I HEREBY CERTIFY THAT</h3>
<ul>
<li>I WORK FOR THE CONSUMER FINANCIAL PROTECTION BUREAU AND
AM NOT LISTED AS A MEMBER OF A FEDERAL COMMUTER VANPOOL
OR CARPOOL.<li>

<li>I AM NOT THE HOLDER OR BENEFICIARY OF ANY OTHER FORM OF
WORKPLACE MOTOR VEHICLE PARKING PERMIT, AND I AM NOT
RECEIVING TRANSPORTATION BENEFITS FROM ANOTHER FEDERAL
OREGANIZATION.<li>

<li>I AM ELIGIBLE FOR A TRANSPORATION SUBSIDY BENEFIT FOR USE ON
A PARTICPATING PUBLIC TRANSPORTATION SYSTEM, AM OBTAINING
THE SUBSIDY FOR MY PERSONAL COMMUTING USE, AND WILL NOT
TRANSFER THE BENEFIT TO ANYONE ELSE.<li>

<li>I HAVE ACCURATELY LISTED THE COMMUTING COST TO AND FROM
MY HOME TO WORK USING PUBLIC TRANSPORTATION.<li>

<li>I ACKNOWLEDGE THAT IT IS MY RESPONSIBILITY TO RETURN ANY
UNUSED TRANSPORTATION SUBSIDY (E.G., SUBSIDY UNUSED DUE TO
LEAVE TAKEN OR SEPARATION).<li>

<li>I UNDERSTAND THAT IT IS MY RESPONSIBILITY TO REPORT ANY
CHANGE OF ADDRESS OR ABSENCES THAT MAY AFFECT MY TRANSIT
BENEFITS.</li>
</ul>

<p>
THIS CERTIFICATION CONCERNS A MATTER WITHIN THE JURISDICTION OF
AN AGENCY OF THE UNITED STATES AND MAKING A FALSE, FICTITIOUS, OR
FRAUDULENT CERTIFICATION MAY RENDER THE MAKER SUBJECT TO CRIMINAL
PROSECUTION UNDER TITLE 18, UNITED STATES CODE, SECTION 1001, CIVIL
PENALTY ACTION PROVIDING FOR ADMINISTRARTIVE RECOVERIES OF UP TO
$5000 PER VIOLATION, AND/OR DISCPILINARY ACTION UP TO AND INCLUDING
TERMINATION OF EMPLOYMENT
</p>

<p>
<u>Privacy Act Notice:</u> The Bureau is soliciting this information in connection with its employee
transit benefit program. This information is solicited under authority of 5 U.S.C., Sections 301
and 7905. Furnishing the information on this form is voluntary, but failure to do so may result in
disapproval of your request for a public transit subsidy benefit. The purpose of this information
is to facilitate timely processing of your request, to ensure your eligibility, and to prevent misuse
of the funds involved. This information will be matched with lists at other Federal agencies to
ensure that you are not listed as a carpool or vanpool participant or a holder of any other form of
vehicle work site parking permit with CFPB or any other Federal agency. </p>