{% extends "front/base_v3.html" %}


{% block local_css %}
<style>
	#main
	{
		padding: 25px;
	}
	
	h1
	{
		font: 30pt "Avenir LT W01 85 Heavy",  Verdana;
		color: #3daf56;
	}
	h2
	{
		font: 16pt "Avenir LT W01 85 Heavy",  Verdana;
		color: #898989;
	}
	p
	{
		font: 11pt "Avenir LT W01 85 Book",  Verdana;
		color: #898989;
	}
</style>


{% endblock %}

{% block title %}Broken link{% endblock %}


{% block content %}
 
<div class='lost'>
    <div class='lost-bannercontent'>
	  <h1>That link is broken!</h1>
	  <h2>We can't seem to find <span id='destination'>what you were looking for.</span></h2>
	  <p>Please use the search box to find what you're looking for or go to the <a href="/">homepage</a>.</p>
	</div>
</div>
  
{% endblock %}

{% block local_js %}
	<script>
		$(function(){
			$('#destination').html(window.location.pathname);
			
		})
	</script>
{% endblock %}
